[submodule "third_party/cppjieba"]
	path = third_party/cppjieba
	url = https://github.com/yanyiwu/cppjieba.git
[submodule "third_party/onnxruntime"]
	path = third_party/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "third_party/tokenizers-cpp"]
	path = third_party/tokenizers-cpp
	url = https://github.com/mlc-ai/tokenizers-cpp.git
[submodule "third_party/glog"]
	path = third_party/glog
	url = git@github.com:google/glog.git
